html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "proxima-nova-1","proxima-nova-2", "Helvetica Neue", Helvetica, verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
}


#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#target {
  width: 345px;
}

#masthead {
  height: 125px;
  width: 100%;
  position: relative;
  background: #FFFFFF;
  border-top: 4px solid #78be20;
  box-shadow: 0 2px 7px rgba(0,0,0,0.2);
}

#masthead-content {
  margin: 0 auto;
  position: relative;
  width: 80%;
  height: 100%;
}

#masthead-content img {
  float: left;
  margin: 32px;
  width: 165px;
  margin-left: 0;
}

#content {
  width: 80%;
  margin: 60px auto;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 9px;
  background: #FAFAFA;
}

h1 {
  color: #78be20;
  font-weight: 100;
  font-size: 38px;
  margin-top: 0;
  letter-spacing: -1px;
}

.small {
  color: #6B6B6B;
  font-weight: 400;
  margin-bottom: 30px;
  font-size: 14px;
}

.bold {
  font-weight: 600;
}

button, input {
  width: 11%;
}

button {
  height: 35px;
  border: none;
  background: #737373;
  border-radius: 2px;
  box-sizing: border-box;
  color: white;
  font-family: "proxima-nova-1","proxima-nova-2", "Helvetica Neue", Helvetica, verdana, sans-serif;
  font-weight: 200;
  font-size: 14px;
  padding: 0;
  min-width: 70px;
}

button:hover{
  background: #616060;
}
