  
{% block body %}
<html>
  <head>
    <title>Meraki Location Scanning Data Simulator</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='sample.css')}}">
    <script>TypekitConfig={kitId:"hum1oye",scriptTimeout:1.5e3},function(){var a=document.getElementsByTagName("html")[0];a.className+=" wf-loading";var b=setTimeout(function(){a.className=a.className.replace(/(\s|^)wf-loading(\s|$)/g,""),a.className+=" wf-inactive"},TypekitConfig.scriptTimeout),c=document.createElement("script");c.src="//use.typekit.com/"+TypekitConfig.kitId+".js",c.type="text/javascript",c.async="true",c.onload=c.onreadystatechange=function(){var a=this.readyState;if(!a||a=="complete"||a=="loaded"){clearTimeout(b);try{Typekit.load(TypekitConfig)}catch(c){}}};var d=document.getElementsByTagName("script")[0];d.parentNode.insertBefore(c,d)}()</script>
    <script src="{{url_for('static', filename='locationsimulator.js')}}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

  </head>
  <body>
    <div id="masthead">
      <div id="masthead-content">
        <img src="https://meraki.cisco.com/img/cisco-meraki.png"/>
      </div>
    </div>
    <div id="content">
      <h1>Meraki Location Scanning Data Simulator</h1>

      <form method="POST" action="/locationscanning/set">
        Number of APs: <input name="num_aps" type="number" placeholder="Enter Integer" value="{{ num_aps }}">
        Number of Clients: <input name="num_clients" type="number" placeholder="Enter Integer" value="{{ num_clients }}">
        Enter Server URL: <input name="server_url" type="text" placeholder="Fully Qualified URL" value="{{ server_url }}">
        <input type="submit" value="Launch Simulator">
      </form>

      <input id="pac-input" class="controls" type="text" placeholder="Search Box">
      <div id="map"></div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBm79N76dNavF-3C49fWbcEWj2XXKbIboE&v=3.exp&libraries=places&callback=initAutocomplete"
             async defer></script>

    <div id="content">
    </div>
  </body>
</html>
{% endblock %}
